Repository three-consulting/epoc-frontend, pull requests merged in 2022-02, with the labels that each got.

#121 style: very strict lint rules
  .eslintrc.js
  .github/workflows/housekeeping.yml
  .prettierrc.js
  __tests__/component/form/CreateCustomerForm.test.tsx
  amplify.yml
  commitlint.config.js
  components/common/ErrorAlert.tsx
  components/common/Footer.tsx
  components/common/Header.tsx
  components/common/Layout.tsx
  components/common/LeftNav.tsx
  components/common/Loading.tsx
  components/common/Main.tsx
  components/common/NavBarMobile.tsx
  components/detail/ProjectDetail.tsx
  components/detail/TimesheetDetail.tsx
  components/form/CustomerForm.tsx
  components/form/ProjectForm.tsx
  components/form/TaskForm.tsx
  components/form/TimesheetForm.tsx
  components/table/ProjectTable.tsx
  components/table/TaskTable.tsx
  components/table/TimesheetTable.tsx
  epoc-compose.yaml
  jest.config.js
  lib/conf.ts
  lib/contexts/AuthContext.tsx
  lib/hooks/useAuth.ts
  lib/hooks/useCustomers.ts
  lib/hooks/useEmployees.ts
  lib/hooks/useProjects.ts
  lib/hooks/useTasks.ts
  lib/hooks/useTimesheets.ts
  lib/types/apiTypes.ts
  lib/types/auth.ts
  lib/types/forms.ts
  lib/types/hooks.ts
  lib/utils/fetch.ts
  lib/utils/matchMutate.js
  lib/utils/setAmplify.ts
  next-env.d.ts
  next.config.js
  package.json
  pages/_app.tsx
  pages/index.tsx
  pages/project/[id]/edit.tsx
  pages/project/[id]/index.tsx
  pages/project/index.tsx
  pages/project/new.tsx
  pages/timesheet/[id]/edit.tsx
  pages/timesheet/[id]/index.tsx
Labels: style

#120 test: test for create timesheet form
  __tests__/component/form/CreateCustomerForm.test.tsx
  __tests__/component/form/CreateTimesheetForm.test.tsx
  __tests__/fixtures.ts
  components/form/TimesheetForm.tsx
  jest.config.js
Labels: test

#122 style: employee fields to camelcase
  __tests__/fixtures.ts
  components/detail/ProjectDetail.tsx
  components/detail/TimesheetDetail.tsx
  components/form/ProjectForm.tsx
  components/form/TimesheetForm.tsx
  components/table/TimesheetTable.tsx
  lib/types/api.ts
Labels: style

#130 test: added tests for create project form
  __tests__/component/form/CreateProjectForm.test.tsx
  __tests__/fixtures.ts
  components/form/ProjectForm.tsx
Labels: test

#129 Test/tests for create task form
  __tests__/component/form/CreateTaskForm.test.tsx
  __tests__/fixtures.ts
  components/common/FormFields.tsx
  components/form/TaskForm.tsx
Labels: test

#132 feat: added customer table
  components/common/FormFields.tsx
  components/form/ProjectForm.tsx
  components/table/CustomerTable.tsx
  pages/project/index.tsx
Labels: feat
